package ${modelsPkg};

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

import javax.persistence.*;
import java.util.UUID;
#foreach( $entityFieldType in $entityFields.values())
#if($entityFieldType.contains(".") && !$entityFieldType.contains('UUID'))
import $entityFieldType;
#end
#end

@Data
@NoArgsConstructor
@AllArgsConstructor
@Entity
@Table(name = "${entityName.toLowerCase()}")
public class ${entityName}Entity {
    @Id
    @GeneratedValue
    private UUID id;
    @Column(nullable = false)
    private UUID workspaceId;
    #foreach( $entityField in $entityFields.keySet() )
    @Column(nullable = false)
    private $entityFields.get($entityField).substring($entityFields.get($entityField).lastIndexOf(".") +1) $entityField;
    #end
}