#set( $entityRepositoryVariable = "${entityName.toLowerCase()}Repository" )
package ${testsPkg}

import ${modelsPkg}.${entityName}Entity;
import ${servicesPkg}.${entityName}Repository;
import jakarta.inject.Inject

trait ${entityName}RepositoryFixture {

    @Inject
    ${entityName}Repository $entityRepositoryVariable

    def cleanup${entityName}Entities() {
        ${entityRepositoryVariable}.deleteAll().block()
    }

    List<${entityName}Entity> load${entityName}Entities(UUID workspaceId ) {
        ${entityRepositoryVariable}.saveAll(${entityName.toLowerCase()}Entities(workspaceId)).collectList().block()
    }

    /**
    * Generate some test entities
    **/
    def ${entityName.toLowerCase()}Entities(UUID workspaceId) {
        (1..5).collect{
            new ${entityName}Entity(
                workspaceId: workspaceId
                $testConstructorTodo
            )
        }
    }
}
