package ${servicesPkg};

import ${modelsPkg}.${entityName}Entity;
import io.micronaut.data.model.query.builder.sql.Dialect;
import io.micronaut.data.r2dbc.annotation.R2dbcRepository;
import io.micronaut.data.repository.reactive.ReactorCrudRepository;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

import java.util.UUID;

@R2dbcRepository(dialect = Dialect.POSTGRES)
public interface ${entityName}Repository extends ReactorCrudRepository<${entityName}Entity, UUID> {

    Flux<${entityName}Entity> findAllByWorkspaceId(UUID workspaceId);

    Mono<${entityName}Entity> findByWorkspaceIdAndId(UUID workspaceId, UUID id);
}